@use "variables.scss" as *;

:root{
    // mvの背景色操作のためのカスタムプロパティ
    --mv-bg-size: 0;
 }

// トップページ用scss
#top-page {
    .mv-area {
        .mv-flex {
            display: flex;
            justify-content: space-between;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: var(--mv-bg-size);
                background-color: $maincolor;
                position: absolute;
                left: 0;
                top: 0;
            }
            .menu-container {
                width: 390px;
                padding: 100px 0 70px;
                .mv-link-list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 28px;
                    width: fit-content;
                    margin: 0 auto;
                    translate: -40px 0;
                    li {
                        a {
                            width: 0;
                            display: block;
                            overflow: hidden;
                            font-family: $en_font;
                            color: #fff;
                            font-size: 2rem;
                            font-weight: bold;
                            letter-spacing: 0.2em;
                            position: relative;
                            &::after {
                                content: "";
                                width: 100%;
                                background-color: currentColor;
                                height: 2px;
                                position: absolute;
                                left: 0;
                                bottom: -5px;
                                scale: 0 1;
                                transition: all 0.3s ease;
                            }
                            &:hover {
                                opacity: 1;
                                &::after {
                                    scale: 1 1;
                                }
                            }
                        }
                    }
                }
                .written-img-wrap {
                    max-width: 252px;
                    width: 100%;
                    margin: 40px auto 0;
                    translate: -20px 0;
                    scale: 0 1,
                }
            }
            .movie-wrap {
                width: calc(100vw - 262px);
                position: absolute;
                top: 0;
                right: 0px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100vw - 91vw) 100%);
                video {
                    max-width: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    height: 0;
                    filter: brightness(85%);
                    will-change: height;
                }
                .mv-ttl {
                    -ms-writing-mode: tb-rl;
                    writing-mode: vertical-rl;
                    position: absolute;
                    font-size: 4.8rem;
                    font-weight: bold;
                    color: #fff;
                    line-height: calc(70 / 48);
                    position: absolute;
                    top: 130px;
                    right: 50%;
                    transform: translateX(50%);
                    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                    span {
                        font-size: 2.4rem;
                        line-height: calc(60 / 24);
                    }
                }
            }
        }
    }

    .about-area {
        position: relative;
        padding: 250px 0 110px;
        // 台形の装飾
        .deco-square {
            width: 67vw;
            height: 510px;
            position: absolute;
            top: 0;
            left: -2vw;
            z-index: -2;
            transform: skewX(6deg);
            @include square-content();
        }
        .txt-wrap {
            width: 53%;
            .about-ttl {
                font-size: 2.4rem;
                font-weight: bold;
                line-height: calc(40 / 24);
            }
            .about-des {
                margin: 60px 0 0;
            }
        }

        .img-wrap {
            max-width: 1100px;
            width: 45vw;
            position: absolute;
            top: 61%;
            right: 0;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    .service-area {
        padding: 0 0 120px;
        position: relative;
        .deco-square {
            width: 37vw;
            height: 505px;
            position: absolute;
            bottom: 0;
            right: -2vw;
            z-index: -2;
            transform: skewX(-6deg);
            @include square-content();
        }
        .inner {
            .service-contents-wrap {
                margin: 62px 0 0;
                .contents-flex {
                    display: flex;
                    justify-content: space-between;

                    // NETWORKメニュー
                    .menu-list-container {
                        width: 47.5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .menu-list {
                            width: 280px;
                            height: 280px;
                            position: relative;
                            background-color: $maincolor;
                            border-radius: 50%;
                            &::before {
                                content: "NETWORK";
                                font-size: 2.8rem;
                                font-weight: bold;
                                font-family: $en_font;
                                color: #fff;
                                letter-spacing: 0.1em;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            .menu-item {
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                white-space: nowrap;
                                row-gap: 5px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: fit-content !important;
                                height: auto !important;

                                // メニューのポジション設定で使う変数
                                $menu-positin: 220px;

                                &:nth-child(1) {
                                    translate: calc(cos(-55deg) * $menu-positin - 50%) calc(sin(-55deg) * $menu-positin - 50%);
                                }
                                &:nth-child(2) {
                                    translate: calc(cos(-15deg) * $menu-positin - 50%) calc(sin(-15deg) * $menu-positin - 50%);
                                }
                                &:nth-child(3) {
                                    translate: calc(cos(30deg) * $menu-positin - 50%) calc(sin(30deg) * $menu-positin - 50%);
                                }
                                &:nth-child(4) {
                                    translate: calc(cos(70deg) * $menu-positin - 50%) calc(sin(70deg) * $menu-positin - 50%);
                                }
                                &:nth-child(5) {
                                    translate: calc(cos(110deg) * $menu-positin - 50%) calc(sin(110deg) * $menu-positin - 50%);
                                }
                                &:nth-child(6) {
                                    translate: calc(cos(150deg) * $menu-positin - 50%) calc(sin(150deg) * $menu-positin - 50%);
                                }
                                &:nth-child(7) {
                                    translate: calc(cos(190deg) * $menu-positin - 50%) calc(sin(190deg) * $menu-positin - 50%);
                                }
                                &:nth-child(8) {
                                    translate: calc(cos(240deg) * $menu-positin - 50%) calc(sin(240deg) * $menu-positin - 50%)
                                }

                                .menu-num {
                                    font-family: $en_font;
                                    font-weight: bold;
                                    line-height: 1;
                                    letter-spacing: 0.1em;
                                    font-size: 3.3rem;
                                    color: #e6ecf4;
                                }
                                .menu-ttl {
                                    font-weight: bold;
                                    color: #666;
                                    font-size: 2.1rem;
                                    text-align: center;
                                    visibility: visible;
                                    line-height: 1.2;
                                    .small-txt {
                                        font-size: 1.2rem;
                                        line-height: 1;
                                    }
                                }
                                &.swiper-slide-thumb-active {
                                    .menu-num {
                                        font-size: 6rem;
                                        color: #f08c1a;
                                    }
                                    .menu-ttl {
                                        visibility: hidden;
                                    }
                                }
                            }
                        }
                    }

                    // 詳細コンテンツ
                    .detail-container {
                        width: 40%;
                        .detail-list-item {
                            width: 100%;
                            position: relative;
                            &::before {
                                content: attr(data-detail-num) "";
                                font-family: $en_font;
                                font-size: 11rem;
                                font-weight: bold;
                                letter-spacing: 0.1em;
                                position: absolute;
                                color: #f08c1a;
                                top: -30px;
                                right: 0;
                                line-height: 0.8;
                                z-index: -1;
                            }
                            .detail-ttl {
                                color: $maincolor;
                                font-size: 2.8rem;
                                font-weight: bold;
                                line-height: calc(40 / 28);
                                margin: 0 0 30px;
                                .small-txt {
                                    font-size: 1.8rem;
                                }
                            }
                            .detail-img {
                                margin: 20px 0 15px;
                            }
                            .detail-link-btn {
                                font-size: 1.6rem;
                                color: #021e4f;
                                font-weight: bold;
                                display: block;
                                width: fit-content;
                                margin: 0 0 0 auto;
                                padding: 0 50px 0 0;
                                @include link-icon-arrow(url(../img/common/icon_arrow_navy.png));
                            }
                        }
                    }
                }
            }
        }
    }

    .network-area {
        background-color: $maincolor;
        padding: 120px 0 110px;
        position: relative;
        // 台形の装飾
        .deco-square {
            width: 75vw;
            height: 575px;
            position: absolute;
            bottom: 0;
            left: -3vw;
            z-index: 0;
            transform: skewX(6deg);
            @include square-content($bgColor: #e6edf515);
        }
        .inner {
            position: relative;
            z-index: 1;
            .network-ttl {
                font-size: 2.8rem;
                font-weight: bold;
                color: #fff;
                text-align: center;
                margin: 60px 0 0;
                padding: 0 0 22px;
                border-bottom: 2px solid #fff;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-top: 20px solid #fff;
                    border-right: 15px solid transparent;
                    border-left: 15px solid transparent;
                }
            }
            .network-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 26px;
                margin: 65px 0 0;
                a {
                    
                    .img-wrap {
                        picture {
                            display: block;
                            overflow: hidden;
                            img {
                                aspect-ratio: 1 / 0.786;
                                object-fit: cover;
                                object-position: center;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                    .place-txt {
                        color: #fff;
                        margin: 15px 0 0;
                        font-size: 1.8rem;
                        font-weight: bold;
                        text-align: center;
                        @include link-icon-arrow(url(../img/common/icon_arrow_white.png));
                    }
                    &:hover {
                        opacity: 1;
                        .img-wrap {
                            picture {
                                img {
                                    scale: 1.15;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .company-area {
        padding: 120px 0 115px;
        position: relative;
        // 台形の装飾
        .deco-square {
            width: 67vw;
            height: 610px;
            position: absolute;
            top: 52%;
            right: -3vw;
            z-index: -1;
            translate: 0 -50%;
            transform: skewX(-6deg);
            @include square-content();
        }
        .inner {
            .company-flex {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .img-wrap {
                    width: 43%;
                }
                .des-wrap {
                    width: 53%;
                    .campany-dl {
                        display: flex;
                        padding: 25px 30px;
                        border-bottom: 1px solid #cdcdcd;
                        &:first-of-type {
                            padding: 0 30px 25px;
                        }
                        dt {
                            width: 145px;
                            font-weight: bold;
                            letter-spacing: 0.1em;
                            line-height: 2;
                        }
                        dd {
                            width: calc(100% - 145px);
                            letter-spacing: 0.1em;
                            line-height: 2;
                            word-break: keep-all;
                        }
                    }
                    .default-link-btn {
                        @include link-btn();
                        margin: 38px auto 0;
                    }
                }
            }
        }
    }

    .map-area {
        padding: 0 0 115px;
        .inner {
            .google-map-wrap {
                iframe {
                    width: 100%;
                    aspect-ratio: 1 / 0.417;
                }
            }
        }
    }

    .news-area {
        .inner {
            padding: 0 0 0 45px;
            .news-flex {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .news-wrap {
                    width: 62.5%;
                    border-left: 1px solid #ccc;
                    padding: 0 0 35px;
                    position: relative;
                    &::before {
                        content: "NEWS";
                        font-size: 1.6rem;
                        font-weight: bold;
                        letter-spacing: 0.1em;
                        font-family: $en_font;
                        -ms-writing-mode: tb-rl;
                        writing-mode: vertical-rl;
                        text-orientation: sideways;
                        position: absolute;
                        left: -45px;
                        top: 0;
                    }
                    .news-main-ttl {
                        font-size: 3.6rem;
                        line-height: 1;
                        font-weight: bold;
                        margin: 0 0 48px;
                        padding: 15px 0 15px 25px;
                        border-left: 3px solid $maincolor;
                    }
                    .news-list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 40px;
                        li {
                            border-left: 3px solid $maincolor;
                            padding: 15px 0 15px 35px;
                            a {
                                display: flex;
                                column-gap: 58px;
                                align-items: center;
                                position: relative;
                                @include link-icon-arrow(url(../img/common/icon_arrow_navy.png));
                                .date-wrap {
                                    display: flex;
                                    flex-direction: column;
                                    position: relative;
                                    &::before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        width: 1px;
                                        height: 70px;
                                        background-color: #ccc;
                                        top: 50%;
                                        right: -30px;
                                        transform: translateY(-50%);
                                    }
                                    span {
                                        font-family: $en_font;
                                        &.year {
                                            font-size: 2rem;
                                        }
                                        &.day {
                                            font-size: 3.6rem;
                                        }
                                    }
                                }

                                .news-ttl {
                                    font-size: 2rem;
                                    font-weight: bold;
                                    letter-spacing: 0.1em;
                                    width: 64%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                    .news-page-link {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 1.4rem;
                        margin: 65px 0 0;
                        padding: 0 45px 0 0;
                        font-weight: bold;
                        @include link-icon-arrow(url(../img/common/icon_arrow_navy.png));
                    }
                }
                .banner-wrap {
                    width: 31.5%;
                    .banner-list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 18px;
                    }
                }
            }
        }
    }
} // #top-page