@use "../../global" as *;
.u-change {
  &_pc {
    @include mq(md) {
      display: none !important;
    }
  }
  &_md {
    display: none !important;
    @include mq(md) {
      display: block !important;
    }
  }
}

.c-wrap {
  flex-wrap: wrap-reverse;
}
