@use "../../global" as *;

.p-consulting {
  width: 100%;

  &__inner {
    width: 100%;
  }

  &__title {
    color: #005CAB;
    font-size: rem(24);
    font-weight: 700;
    line-height: calc(40 / 24);
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: rem(100);

    @include mq(md) {
      font-size: rem(18);
      margin-bottom: rem(80);
    }

    span {
      font-size: rem(36);

      @include mq(md) {
        font-size: rem(24);
      }
    }
  }
}

.p-consulting-item {
  position: relative;
  width: 100%;
  background: #F1F4F8;

  &__inner {
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    padding: rem(120) 0;

    @include mq(md) {
      padding: rem(80) rem(30);
    }
  }

  &__bigText {
    position: absolute;
    top: rem(-50);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: rem(623);
    color: #ffffff;
    font-size: rem(28);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    padding: rem(36) 0;
    background: #005CAB;
    border-radius: rem(10);

    @include mq(md) {
      max-width: rem(315);
      font-size: rem(20);
      line-height: 1.3;
      padding: rem(20) 0;

    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: rem(-26);
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: rem(28) rem(27) 0 rem(27);
      border-color: #005CAB transparent transparent transparent;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
      flex-wrap: wrap;
      gap: rem(40);
    }
  }

  &__box {
    width: 100%;
    max-width: rem(380);
    min-height: rem(472);
    background: #ffffff;
    border-radius: rem(10);
    box-shadow: 0 0 rem(10) rgba($color: #000000, $alpha: .1);
    padding: 0 rem(20);

    @include mq(md) {
      max-width: 100%;
      min-height: auto;
      padding: 0 rem(20) rem(30) rem(20);
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: rem(54);
    margin: rem(42) auto rem(26) auto;
  }

  &__img02 {
    display: block;
    width: 100%;
    max-width: rem(64);
    margin: rem(37) auto rem(27) auto;
  }

  &__img03 {
    display: block;
    width: 100%;
    max-width: rem(46);
    margin: rem(37) auto rem(21) auto;
  }

  &__title {
    color: #0E171E;
    font-size: rem(20);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: rem(16);

    @include mq(md) {
      font-size: rem(18);
    }
  }

  &__lists {
    width: 100%;
    border-top: rem(1) solid #D1D1D1;
    padding-top: rem(15);

    li {
      position: relative;
      color: #0E171E;
      font-size: rem(16);
      line-height: calc(24 / 16);
      letter-spacing: .05em;
      padding-left: rem(30);
      margin-bottom: rem(30);

      @include mq(md) {
        margin-bottom: rem(20);
      }

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: rem(3);
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/archive/list_icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_none {
      &::before {
        display: none !important;
      }
    }
  }
}

.p-consulting-item02 {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/archive/consulting_bg.png);

  &__inner {
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: rem(120) 0 rem(100) 0;

    @include mq(md) {
      flex-wrap: wrap;
      gap: rem(40);
      padding: rem(40) rem(30) rem(80) rem(30);
    }
  }

  &__box {
    width: 100%;
    max-width: rem(583);

    @include mq(md) {
      max-width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: rem(538);

    @include mq(md) {
      max-width: 100%;
    }
  }

  &__title {
    color: #005CAB;
    font-size: rem(36);
    font-weight: 700;
    line-height: calc(48 / 36);
    letter-spacing: .05em;
    margin-bottom: rem(25);
    padding-top: rem(40);

    @include mq(md) {
      font-size: rem(24);
      margin-bottom: rem(25);
      padding-top: rem(20);
    }
  }

  &__text {
    color: #0E171E;
    font-size: rem(16);
    line-height: calc(28 / 16);
    letter-spacing: .05em;
  }
}

.p-consulting-item03 {
  position: relative;
  width: 100%;

  &__inner {
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    padding: rem(120) 0;

    @include mq(md) {
      padding: rem(80) rem(30);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
      flex-wrap: wrap;
      gap: rem(60);
    }
  }

  &__box {
    width: 100%;
    max-width: rem(380);
    min-height: rem(430);
    border-radius: rem(10);
    border: rem(2) solid #005CAB;
    padding: 0 rem(20);
    text-align: center;

    @include mq(md) {
      max-width: 100%;
      min-height: auto;
      padding: 0 rem(20) rem(30) rem(20);
    }
  }

  &__title {
    color: #005CAB;
    font-size: rem(36);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: rem(70);

    @include mq(md) {
      font-size: rem(24);
      margin-bottom: rem(50);
    }
  }

  &__subTitle {
    position: relative;
    display: inline-block;
    color: #005CAB;
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    margin: rem(-20) auto rem(30) auto;
    padding: 0 rem(30);
    background: #ffffff;

    @include mq(md) {
      top: rem(-10);
      font-size: rem(22);
      margin: rem(-10) auto rem(10) auto;
    }
  }

  &__text {
    width: 100%;
    min-height: rem(54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(18);
    font-weight: 700;
    line-height: calc(28 / 18);
    letter-spacing: .05em;
    margin-bottom: rem(14);

    @include mq(md) {
      min-height: auto;
      font-size: rem(16);
    }
  }

  &__lists {
    width: 100%;
    border-top: rem(1) solid #D1D1D1;
    padding-top: rem(15);

    li {
      position: relative;
      color: #0E171E;
      font-size: rem(16);
      line-height: calc(24 / 16);
      letter-spacing: .05em;
      padding-left: rem(30);
      margin-bottom: rem(30);
      text-align: left;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: rem(3);
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/archive/list_icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.p-consulting-item04 {
  position: relative;
  width: 100%;
  background: #005CAB;

  &__inner {
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    padding: rem(120) 0;

    @include mq(md) {
      padding: rem(80) rem(30);
    }
  }

  &__title {
    color: #ffffff;
    font-size: rem(36);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: rem(45);

    @include mq(md) {
      font-size: rem(24);
    }
  }

  &__text {
    color: #ffffff;
    font-size: rem(16);
    line-height: calc(28 / 16);
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: rem(65);

    @include mq(md) {
      font-size: rem(14);
      text-align: left;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: rem(55);
    margin-bottom: rem(60);

    @include mq(md) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: rem(60);
      margin-bottom: rem(50);
    }
  }

  &__box {
    width: 100%;
    max-width: rem(380);
    min-height: rem(280);
    border-radius: rem(10);
    border: rem(2) solid #ffffff;
    padding: 0 rem(20);
    text-align: center;

    @include mq(md) {
      max-width: 100%;
      min-height: auto;
      padding: 0 rem(20) rem(30) rem(20);
    }
  }

  &__subTitle {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center;
    margin: rem(-20) auto rem(30) auto;
    padding: 0 rem(30);
    background: #005CAB;

    @include mq(md) {
      top: rem(-10);
      font-size: rem(22);
      margin: rem(-10) auto rem(10) auto;
    }
  }

  &__text02 {
    color: #ffffff;
    font-size: rem(16);
    line-height: calc(24 / 16);
    letter-spacing: .05em;
    text-align: left;
  }

  &__banner {
    width: 100%;
    border-radius: rem(10);
  }
}