@use "../../global" as *;
.p-news {
  width: 100%;
  margin: rem(120) 0;
  &__inner {
    position: relative;
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    @include mq(md) {
      padding: 0 rem(30);
    }
  }
  &__lists {
    border-left: rem(1) solid #CCCCCC;
  }
  &__list {
    margin-bottom: rem(36);
    @include mq(md) {
      padding-left: rem(18);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: rem(50);
    @include mq(md) {
      flex-wrap: wrap;
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(0);
      width: rem(31.5);
      height: rem(31.5);
      background-image: url(../img/common/icon_arrow_blue.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include mq(md) {
        top: auto;
        bottom: rem(5);
        transform: translateY(0%);
      }
    }
    &:hover {
      color: #005CAB;
    }
  }
  &__timeBox {
    position: relative;
    min-width: rem(158);
    padding: 0 rem(30) 0 rem(38);
    border-right: rem(1) solid #CCCCCC;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: rem(-1.5);
      width: rem(3);
      height: 100%;
      background: #005CAB;
      border-radius: rem(1.5);
    }
    @include mq(md) {
      position: relative;
      min-width: rem(158);
      padding: 0 rem(0) rem(8) rem(0);
      border-right: none;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: rem(-20);
        width: rem(3);
        height: 100%;
        background: #005CAB;
        border-radius: rem(1.5);
      }
    }
  }
  &__year {
    font-size: rem(20);
    line-height: 1;
    margin-bottom: rem(5);
    @include mq(md) {
      font-size: rem(14);
    }
  }
  &__day {
    font-size: rem(36);
    line-height: 1;
    @include mq(md) {
      font-size: rem(24);
    }
  }
  &__articleTitle {
    font-size: rem(20);
    line-height: calc(24 / 20);
    letter-spacing: .1em;
    padding-left: rem(25);
    @include mq(md) {
      font-size: rem(16);
      line-height: calc(24 / 16);
      padding: rem(5) rem(60) 0 rem(0);
      border-top: rem(1) solid #CCCCCC;
    }
  }
}

.p-news-nav {
  & .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(35);
    margin-top: rem(53);
  }
  & .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(20);
    height: rem(33);
    color: #000000;
    font-size: rem(20);
    line-height: 1;
    letter-spacing: .1em;
    transition: .3s;
    border-bottom: rem(2) solid #005CAB00;
    &:hover {
      color: #005CAB;
      border-bottom: rem(2) solid #005CAB;
    }
  }
  & .current {
    border-bottom: rem(2) solid #005CAB;
    &:hover {
      color: #000000;
    }
  }
  & .prev {
    display: none;
  }
  & .next {
    display: none;
  }
}

.p-news-single {
  width: 100%;
  margin: rem(120) 0;
  &__inner {
    position: relative;
    width: 100%;
    max-width: rem(1200);
    margin: 0 auto;
    @include mq(md) {
      padding: 0 rem(30);
    }
  }
  &__lists {
    border-left: rem(1) solid #CCCCCC;
  }
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: rem(50);
    @include mq(md) {
      padding-right: rem(0);
      padding-left: rem(18);
      flex-wrap: wrap;
    }
  }
  &__timeBox {
    position: relative;
    min-width: rem(158);
    padding: 0 rem(30) 0 rem(38);
    border-right: rem(1) solid #CCCCCC;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: rem(-1.5);
      width: rem(3);
      height: 100%;
      background: #005CAB;
      border-radius: rem(1.5);
    }
    @include mq(md) {
      position: relative;
      min-width: rem(158);
      padding: 0 rem(0) rem(8) rem(0);
      border-right: none;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: rem(-20);
        width: rem(3);
        height: 100%;
        background: #005CAB;
        border-radius: rem(1.5);
      }
    }
  }
  &__year {
    font-size: rem(20);
    line-height: 1;
    margin-bottom: rem(5);
    @include mq(md) {
      font-size: rem(14);
    }
  }
  &__day {
    font-size: rem(36);
    line-height: 1;
    @include mq(md) {
      font-size: rem(24);
    }
  }
  &__articleTitle {
    font-size: rem(20);
    line-height: calc(24 / 20);
    letter-spacing: .1em;
    padding-left: rem(25);
    @include mq(md) {
      font-size: rem(16);
      line-height: calc(24 / 16);
      padding: rem(5) rem(0) 0 rem(0);
      border-top: rem(1) solid #CCCCCC;
    }
  }
  &__content {
    width: 100%;
    margin-top: rem(26);
    color: #000000;
    font-size: rem(16);
    letter-spacing: .1em;
    line-height: calc(28 / 16);
    padding-left: rem(200);
    margin-bottom: rem(45);
    @include mq(md) {
      padding-left: rem(0);
    }
  }
  &__button {
    position: relative;
    width: 100%;
    max-width: rem(398);
    height: rem(70);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005CAB;
    border-radius: rem(36);
    color: #ffffff;
    font-size: rem(16);
    margin: 0 auto;
    @include mq(md) {
      max-width: rem(315);
      height: rem(60);
      border-radius: rem(30);
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(33);
      width: rem(31);
      height: rem(31);
      background-image: url(../img/common/icon_arrow_blue02.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include mq(md) {
        right: rem(23);
      }
    }
  }
}