@use "../../global" as *;
.p-owners {
  width: 100%;
  margin-bottom: rem(116);
  &__inner {
    width: 100%;
    max-width: rem(1000);
    margin: 0 auto;
    padding-top: rem(70);
  }
  &__title {
    font-family: $font-NotoSerif;
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .08em;
    text-align: center;
    margin-bottom: rem(54);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: rem(40);
  }
  &__img {
    width: 50%;
  }
  &__lists {
    width: 50%;
    padding-left: rem(30);
  }
  &__list {
    position: relative;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .08em;
    padding-left: rem(50);
    margin-bottom: rem(16);
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: rem(2);
      left: rem(0);
      width: rem(30);
      height: rem(30);
      background-image: url(../imgs/chech_icon.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__triangle {
    width: rem(150);
    margin: 0 auto rem(40) auto;
  }
  &__text {
    font-family: $font-NotoSerif;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .08em;
    text-align: center;
    span {
      border-bottom: rem(9) solid #9CD6C8;
    }
  }
}

.p-owners-supports {
  width: 100%;
  &__inner {
    width: 100%;
    background-image: url(../imgs/bg_item02.png);
    background-position: left;
    background-size: contain;
    background-repeat: repeat;
  }
  &__wrapper {
    width: 100%;
    max-width: rem(1000);
    margin: rem(-16) auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(30);
    padding: rem(92) 0 rem(70) 0;
  }
  &__box {
    position: relative;
    border: rem(1) solid #CCCCCC;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: rem(30);
    padding: rem(30);
  }
  &__icon {
    width: rem(90);
    min-width: rem(90);
  }
  &__title {
    position: relative;
    font-size: rem(21);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: .08em;
    margin-bottom: rem(20);
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: rem(-11);
      left: 0;
      width: rem(15);
      height: rem(1);
      background: #333333;
    }
    span {
      color: #3FB194;
      font-weight: 700;
    }
  }
  &__text {
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .08em;
  }
}

.p-owners-merits {
  width: 100%;
  background: #E8F1EF;
  padding: rem(74) 0 rem(80) 0;
  &__inner {
    width: 100%;
    max-width: rem(1000);
    margin: 0 auto;
  }
  &__wrapper {
    width: 100%;
    max-width: rem(1000);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    padding: rem(50) 0;
  }
  &__box {
    background: rgba($color: #ffffff, $alpha: .8);
    border: rem(1) solid #9CD6C8;
    padding: rem(55) rem(50);
  }
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(20);
    font-family: $font-Cinzel;
    font-size: rem(24);
    font-weight: 600;
    line-height: 1;
    letter-spacing: .08em;
    margin-bottom: rem(20);
    span {
      color: #777777;
      font-size: rem(12);
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: rem(-13);
      left: 0;
      width: rem(15);
      height: rem(1);
      background: #333333;
    }
  }
  &__text {
    font-family: $font-NotoSerif;
    font-size: rem(21);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .08em;
  }
  &__bigText {
    font-family: $font-NotoSerif;
    font-size: rem(24);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: .08em;
    text-align: center;
  }
}

.p-owners-achievements {
  width: 100%;
  padding: rem(74) 0 rem(80) 0;
  &__inner {
    width: 100%;
    max-width: rem(1000);
    margin: 0 auto;
    padding-top: rem(45);
  }
  &__item {
    position: relative;
    width: 100%;
    max-width: rem(646);
    margin: 0 auto rem(42) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(30);
    padding: rem(30) rem(20) rem(22) rem(20);
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: rem(57);
      height: rem(145);
      background-image: url(../imgs/leaves_l.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: rem(57);
      height: rem(145);
      background-image: url(../imgs/leaves_r.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__amount {
    display: inline-block;
    color: #ffffff;
    font-family: $font-NotoSerif;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .08em;
    background: #3FB194;
    text-align: center;
    border-radius: rem(20);
    padding: rem(11) rem(15) rem(8) rem(15);
  }
  &__door {
    font-family: $font-NotoSerif;
    font-size: rem(28);
    font-weight: 700;
    line-height: 1;
    letter-spacing: .08em;
    span {
      display: inline-block;
      font-family: $font-Cinzel;
      font-size: rem(94);
      line-height: 1;
      letter-spacing: 0em;
      padding: 0 rem(10) 0 rem(30);
    }
    &_size {
      span {
        font-size: rem(70);
        margin-top: rem(24);
        padding: 0 rem(10) 0 rem(27);
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: rem(55);
  }
  &__box {
    width: 100%;
    text-align: center;
  }
  &__icon {
    display: block;
    width: rem(90);
    margin: 0 auto;
  }
  &__bigText {
    font-family: $font-NotoSerif;
    font-size: rem(24);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: .08em;
    text-align: center;
  }
}

